#dingus {
	text-align: center;
	background-color: white;
}

#one {
font-family:Lucida Console, monospace;
background-color: white;
color:rgb(0, 0, 0);
}

#two {
font-family:Lucida Console, monospace;
background-color: white;
color:rgb(255, 0, 0);
}

body {

text-align: center;
background-image: url("img/Annotation 2024-08-28 155922.png");
background-color:rgb(0, 0, 0);
background-size: cover
}